# compiled output
/frontend/dist
**/node_modules
build
/out-tsc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

#ide
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
.gradle
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
**/tmp

# security
**/*credentials*.json
**/*credentials*.txt
# dependencies
/node_modules

### BACKEND

# Database
backend/*.db
backend/ultimate_frisbee_management/migrations/**
backend/ultimate_frisbee_management/static/**
!backend/ultimate_frisbee_management/static/ultimate_frisbee_management/**

backend/dev_db_dump.json

# python
**/__pycache__
**/.pytest_cache
backend/frisbee-venv/**


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.pydevproject