# compiled output
/frontend/dist
**/node_modules
/build
/out-tsc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

#ide
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
.gradle
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# dependencies
/node_modules

### BACKEND

# Database
/*.db

# python
**/__pycache__
backend/frisbee-venv/**

# Django
backend/static


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
