#ide
.idea
.vscode

### BACKEND

# Database
/*.db

# python
**/__pycache__
backend/frisbee-venv/**

# Django
backend/static


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
