[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]


[packages]
gspread = "*"
oauth2client = "*"

python-dateutil = "*"
django-viewflow = "*"
django-rest-swagger = "*"
django-filter = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-seed = "*"
django-debug-toolbar = "*"
django-guardian = "*"
django-sesame="*"
Django = "*"
django_polymorphic = "*"

psycopg2-binary = "*"
Markdown = "*"
pytest-django = "*"
pytest-cov = "*"
mixer = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
