[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gspread = "*"
oauth2client = "*"

python-dateutil = "*"
django-viewflow = "*"
django-rest-swagger = "*"
django-filter = "*"
django-picklefield = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-debug-toolbar = "*"
django-guardian = "*"
django-sesame="*"
django-imagekit ="*"
Django = "*"
django_polymorphic = "*"
pillow = "*" 
psycopg2-binary = "*"
djangorestframework-csv ="*"

# services

## pdf creation from html
xhtml2pdf = "*"

## image recognition
face_recognition = "*"
numpy  = "*"

#Testing
pytest-django = "*"
pytest-cov = "*"
mixer = "*"
gunicorn = "*"

#misc
Markdown = "*"

[requires]
python_version = "3.7"
