
gspread
oauth2client
python-dateutil
django-dbbackup==3.*
django-viewflow
django-rest-swagger
django-filter
djangorestframework
django-rest-auth
django-debug-toolbar
django-guardian
django-sesame
django-imagekit
django-picklefield
django==3.*
django_polymorphic
pillow 
psycopg2-binary
djangorestframework-csv
# services
## pdf creation from html
xhtml2pdf

## image recognition
face_recognition
numpy 

# backup
python-gnupg #encryption
django-crontab # scheduling backups


#Testing
pytest-django
pytest-cov
pytest-html
mixer
gunicorn

#dev
Markdown
flake8
black