<div class="app-container" [class.is-mobile]="isHandset$ | async">
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav
      class="app-sidenav"
      #snav
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
      #sidenav
      [fixedInViewport]="isHandset$ | async"
    >
      <a mat-button routerLink="." class="start-button">
          <img src="assets/oefsv_circle.svg" alt="" width="32px" height="32px" /> <span>players</span>
        </a>
      <mat-nav-list>
        <a mat-list-item routerLink="/ui/clubs">Vereine</a>
        <section *ngIf="isAdmin">
          <h3>Admin</h3>
          <a mat-list-item routerLink="/ui/admin/associations">Verbände</a>
          <a mat-list-item routerLink="/ui/admin/clubs">Vereine</a>
          <a mat-list-item routerLink="/ui/admin/teams">Teams</a>
          <a mat-list-item routerLink="/ui/admin/persons">Personen</a>
        </section>
        <section *ngIf="isDev">
          <h3>Dev</h3>
          <a mat-list-item routerLink="/ui/rest-test">REST-Test</a>
        </section>
        <section>
          <h3>Einstellungen</h3>
          <a mat-list-item routerLink="/ui/user">Profil</a>
        </section>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <mat-toolbar class="mat-drawer-container app-toolbar">
        <button
          mat-icon-button
          (click)="snav.toggle()"
          *ngIf="(isHandset$ | async)"
        >
          <mat-icon class="big-icon">menu</mat-icon>
        </button>
        <span>{{ title$ | async }}</span> <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="big-icon" *ngIf="profilePic === undefined"
            >account_circle</mat-icon
          >
          <img
            [src]="profilePic"
            height="32"
            width="32"
            *ngIf="profilePic !== undefined"
            class="gravatar-img"
          />
          <span>{{name}}</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/ui/user">
            <mat-icon>settings</mat-icon>
            <span>Profil</span>
          </button>
          <button mat-menu-item (click)="doLogout()">
            <mat-icon>notifications_off</mat-icon>
            <span>Abmelden</span>
          </button>
        </mat-menu>
      </mat-toolbar>
      <div class="content"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
