<div class="root mat-app-background">
  <div class="container">
    <mat-card class="card mat-elevation-z6">

      <div class="icon-container">
        <img src="assets/oefsv_circle.svg" alt="" width="70px" height="70px">
      </div>

      <mat-card-content>
        <div class="row">
          <mat-form-field>
            <input matInput placeholder="Email-Adresse" name="username" #user [formControl]="userControl" required>
            <mat-error *ngIf="userControl.invalid">Bitte eine gültige Email Adresse angeben!</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <input matInput placeholder="Passwort" name="password" type="password" #password [formControl]="passwordControl" required>
            <mat-error *ngIf="passwordControl.invalid">Passwort darf nicht leer sein!</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <button mat-raised-button color="primary" (click)="onLogin()" [disabled]="userControl.invalid || passwordControl.invalid">Anmelden</button>
          <div *ngIf="loading" class="loading">
            <mat-spinner diameter="32"></mat-spinner>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <mat-divider></mat-divider>
        <a mat-button color="primary" class="password-reset">Passwort vergessen / Neu registrieren</a>

      </mat-card-actions>
    </mat-card>
  </div>

</div>