.full-width-table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  cursor: pointer;
  border-bottom-width: 0;
}

.expand-detail {
  overflow: hidden;
  padding: 8px;
}

.expand-detail button {
  margin-right: 8px;
}

.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
}

.table-container {
  position: relative;
}
