<h1>Schritt 2: Passwort zurücksetzen</h1>

<div>
  Nach dem die Email (Schritt 1) angefordert wurde, kann das Passwort nun
  zurückgesetzt werden
</div>
<div>
  <div class="smallwidth">
    <mat-form-field class="input">
      <input matInput placeholder="UID" #uidfield />
    </mat-form-field>
  </div>
  <div class="smallwidth">
    <mat-form-field class="input">
      <input matInput placeholder="Token" #tokenfield />
    </mat-form-field>
  </div>
  <div class="largewidth">
    <mat-form-field class="input">
      <input matInput placeholder="Neues Passwort" #password1field />
    </mat-form-field>
  </div>
  <div class="largewidth">
    <mat-form-field class="input">
      <input matInput placeholder="Passwort wiederholen" #password2field />
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="onClick()">
    Passwort ändern
  </button>
</div>
